/**
 * Spybot controller base stylesheet
 */

/*** general ***/
h1 { font-size: 20px; font-weight: bold; line-height: 1.28; margin: 8px 0; }
h2 { font-size: 18px; font-weight: bold; line-height: 1.28; margin: 8px 0; }
h3 { font-size: 16px; font-weight: bold; line-height: 1.28; margin: 6px 0; }
h4 { font-size: 15px; font-weight: bold; line-height: 1.28; margin: 6px 0; }
h5 { font-size: 14px; font-weight: bold; line-height: 1.28; margin: 6px 0; }
h6 { font-size: 14px; font-weight: bold; line-height: 1.28; margin: 6px 0; }

/*** classes ***/
.fblogin {
    margin: 12px 0;
}

.full-list-area {
    margin: 0 0 5px 0;
}

.below-full-list-area {
    margin-top: 30px;
}

.full-list li a, .full-list li a:visited {
    color: #2F3E46;
    text-decoration: none;
}

.footer {
    padding: 10px 0;
}

.footer-text {
    text-align: center;
    font-weight: normal;
    font-size: 11px;
}

.footer-links {
    text-align: center;
    margin-bottom: 5px;
}

.footer-links a, .footer-links a:visited {
    color: #3E3E3E !important;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links img {
    margin: 2px 2px -2px 2px;
}